@import './components/joinblock.css';
@import './components/chat.css';


* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}